<div class="container mt-4">
<h1 class="mb-4">All Restaurants</h1>
<ul>
    <% @restaurants.each do |r| %>
    <li>
        <%= link_to r.name, restaurant_path(r) %>
    </li>
<% end %>
</ul>
<br>
<%= link_to "Add Restaurant",  new_restaurant_path, class:"btn btn-success" %>
</div>